@import "../../sass/index.scss";

.register {
	position: relative;
	width: 30rem;
	padding: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--secondary-background);
	border-radius: 15px;
	z-index: 3;
	@include media-size(extra-large) {
		width: 40rem;
	}
	@include media-size(large) {
		width: 38rem;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem;
		font-size: 1.6rem;
		cursor: pointer;
	}

	&__heading {
		margin-bottom: 3rem;
		font-size: 2rem;
		font-weight: 700;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&__title {
		margin: 1.5rem 0 1rem;
		font-weight: 400;
	}

	&__birthday {
		display: flex;
		justify-content: space-between;
	}

	&__select {
		width: 7rem;
		height: 3rem;
		border-radius: 5px;
		background-color: #fff;
		outline: var(--secondary-background) solid 1px;
	}
	&__gender {
		display: flex;
		justify-content: space-between;
	}

	&__label {
		width: 7rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem;
		font-size: 1.2rem;
		border: 1px solid var(--primary-color);
	}
	&__genderInput {
		margin-left: 4px;
	}

	&__policy {
		margin: 1rem;
	}

	&__btn {
		display: block;
		width: 20rem;
		margin: 2rem auto 0.5rem;
	}

	&__error {
		position: relative;
		width: 100%;
		margin-top: 0.5rem;
		padding: 1rem;
		font-size: 1.2rem;
		border-radius: 15px;
		background-color: red;
		color: var(--white-color);
	}

	&__arrow {
		position: absolute;
		top: -5px;
		left: 10px;
		width: 0;
		height: 0;
		display: inline;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid red;
	}
}
