@import "../../sass/index.scss";

.friends {
	padding: 2rem;
	border-radius: 15px;
	background-color: var(--secondary-background);

	&__heading {
		font-size: 1.8rem;
		color: var(--primary-color);
	}

	&__loader {
		margin-top: 1rem;
	}

	&__header {
		margin-bottom: 3px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__btn {
		font-size: 1.2rem;
		color: var(--secondary-color);
		text-decoration: none;
		transition: color 0.3s;
		&:hover {
			color: rgba(var(--secondary-color), 0.7);
		}
	}

	&__count {
		font-size: 1.2rem;
		color: var(--primary-color);
	}

	&__container {
		margin-top: 1rem;
		display: flex;
		gap: 0.5rem;
		flex-wrap: wrap;
	}

	&__img {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
	}
}
