@import "../../sass/index.scss";

.header {
	width: 100%;
	background: var(--secondary-background);

	&__cover {
		position: relative;
		width: 100%;
		height: 30rem;
		padding: 0 2rem;
		margin-bottom: 4rem;
		background-color: var(--primary-background);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 60%;
		@include media-size(small) {
			height: 50rem;
			margin-bottom: 1rem;
		}
		@include media-size(large) {
			margin-bottom: 2rem;
		}
	}

	&__coverBtn {
		position: absolute;
		bottom: 0.5rem;
		right: 0.5rem;
		display: flex;
		gap: 0.5rem;
		padding: 0.5rem 1rem;
		font-size: 1.2rem;
		color: var(--primary-color);
		background-color: var(--secondary-background);
		border: none;
		border-radius: 15px;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
		@include media-size(large) {
			bottom: 1rem;
			right: 1rem;
		}
		&:hover {
			color: var(--white-color);
			background-color: var(--secondary-color);
		}
	}

	&__photoIcon {
		font-size: 1.4rem;
		color: var(--primary-color);
	}

	&__info {
		display: flex;
		flex-direction: column;
		color: var(--primary-color);
		@include media-size(small) {
			flex-direction: row;
			margin: 0 4rem;
			align-items: flex-start;
			justify-content: space-between;
		}
		@include media-size(large) {
			margin: 0 20rem;
		}
	}

	&__user {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2rem;
		align-items: center;
		z-index: 100;
		@include media-size(small) {
			flex-direction: row;
			transform: translateY(-2.5rem);
		}
		@include media-size(medium) {
			transform: translateY(-4rem);
		}
	}

	&__username {
		font-size: 2rem;
		@include media-size(small) {
			font-size: 2.4rem;
		}
	}

	&__userPicture {
		position: relative;
		width: 10rem;
		height: 10rem;

		@include media-size(medium) {
			width: 14rem;
			height: 14rem;
		}
	}

	&__userImg {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}

	&__pictureBtn {
		position: absolute;
		bottom: 0.3rem;
		right: -0.3rem;
		padding: 3px;
		border: none;
		border-radius: 50%;
		background: var(--primary-background);
		font-size: 1.4rem;
		cursor: pointer;
		transition: transform 0.3s;
		@include media-size(medium) {
			padding: 1rem;
		}

		&:hover {
			transform: scale(1.2);
		}
	}
	&__friends {
		margin-top: 1rem;
		display: flex;
		justify-content: center;
	}

	&__friendLink {
		@for $i from 1 to 6 {
			&:nth-of-type(6n + #{$i}) {
				transform: translateX(calc($i * -3px));
			}
			&:first-of-type {
				transform: translateX(0);
			}
		}
	}
	&__friend {
		width: 2.2rem;
		height: 2.2rem;
		border-radius: 50%;
		object-fit: cover;
		@include media-size(medium) {
			width: 3rem;
			height: 3rem;
		}
	}

	&__error {
		position: absolute;
		top: 5rem;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 1rem 2rem;
		background-color: var(--primary-color);
		z-index: 1;
	}

	&__tryAgain {
		padding: 0.5rem;
		border: none;
		border-radius: 15px;
		background-color: var(--secondary-color);
		color: var(--white-color);
		cursor: pointer;
	}

	&__cropper {
		height: 100% !important;
		width: 100% !important;
		& > img {
			width: 100% !important;
			object-fit: cover !important;
		}
	}

	&__save {
		position: absolute;
		top: 5rem;
		width: 100%;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var(--white-background);
		background-color: var(--primary-color);
		font-size: 1.2rem;
	}

	&__saveBtns {
		display: flex;
		gap: 1rem;
	}

	&__saveBtn {
		border: none;
		padding: 0.5rem;
		border-radius: 5px;
		cursor: pointer;

		&:nth-child(2) {
			color: var(--white-color);
			background-color: var(--secondary-color);
		}
	}

	&__avatarSkeleton {
		z-index: 100;
	}
}
