@import "../../sass/index.scss";

.modal {
	position: relative;
	width: 30rem;
	padding: 2rem;
	background-color: var(--secondary-background);
	border-radius: 15px;
	z-index: 2001;
	@include media-size(medium) {
		width: 40rem;
	}

	&__header {
		margin-bottom: 1.5rem;
	}
	&__heading {
		margin-bottom: 1rem;
		text-align: center;
		font-size: 1.6rem;
		color: var(--primary-color);
	}
	&__close {
		position: absolute;
		padding: 1rem;
		top: 0;
		right: 0;
		color: var(--primary-color);
		font-size: 1.6rem;
		cursor: pointer;
	}
	&__userImg {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
	}

	&__user {
		display: flex;
		align-items: center;
		color: var(--primary-color);
	}
	&__userName {
		margin-left: 0.5rem;
		font-size: 1.3rem;
	}

	&__optionBar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__optionBtn {
		font-size: 1.6rem;
		padding: 1rem;
		border: none;
		background: transparent;
		color: var(--secondary-color);
		cursor: pointer;
	}

	&__textarea {
		margin: 1rem;
		border: none;
		resize: none;
		color: var(--primary-color);
		background: var(--secondary-background);

		&:focus {
			outline: none;
		}
	}
	&__postBtn {
		margin: 1rem 0 0;
		padding: 0.5rem;
		width: 100%;
		border: none;
		border-radius: 15px;
		background-color: var(--secondary-color);
		color: var(--white-color);
		cursor: pointer;
	}
	&__rightBtns {
		display: flex;
		align-items: center;
	}
}

.emoji_wrapper {
	position: absolute;
	right: 0;
	bottom: 8rem;
}

.backgrounds {
	height: 2rem;
	width: 100%;
	display: flex;
	gap: 1px;
	@include media-size(medium) {
		gap: 1rem;
	}
}

.background {
	width: 2rem;
	border-radius: 5px;
	cursor: pointer;
}

.setBgContainer {
	position: relative;
	width: 100%;
	height: 20rem;
	margin: 1rem 0;
}

.bgImg {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	object-fit: cover;
}

.backgroundTextarea {
	position: absolute;
	width: 80%;
	height: 18rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
	border: 0;
	resize: none;
	font-size: 1.4rem;
	text-align: center;
	overflow: hidden;

	&:focus {
		outline: none;
	}
}
.noBg {
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
	cursor: pointer;
}

.postError {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(var(--secondary-background), 0.8);
	z-index: 100;

	&__message {
		width: 60%;
		color: red;
		font-size: 1.4em;
	}
	&__btn {
		background: var(--secondary-color);
		padding: 0.8rem;
		margin-left: 1rem;
		border: none;
		border-radius: 15px;
		color: var(--white-color);
		cursor: pointer;
	}
}
