@import "../../sass/index.scss";

.slider {
	width: 20rem;
	height: 23rem;
	padding: 2rem;
	margin: 0 auto 4rem;
	@include media-size(small) {
		width: 90%;
		min-height: 24rem;
	}
	@include media-size(large) {
		width: 90%;
		padding: 4rem;
	}
}

.card {
	position: relative;
	height: 20rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 2rem;
	border-radius: 15px;
	background-color: var(--secondary-background);

	&__link {
		text-decoration: none;
	}

	&__img {
		margin: 0 auto;
		width: 90%;
		height: 8rem;
		border-radius: 15px;
		object-fit: cover;
	}

	&__username {
		margin: 1rem;
		font-size: 1.4em;
		font-weight: 600;
		color: var(--primary-color);
	}
	&__btnWrap {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__btn {
		padding: 0.5rem 1rem;
	}
}

.loader {
	height: 15rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
