@import "../../sass/index.scss";

.modal {
	position: fixed;
	top: 4.1rem;
	right: 0;
	width: 30rem;
	background-color: var(--secondary-background);
	border-radius: 15px;
	box-shadow: 2px 2px 3px var(--backdrop-color);

	&__heading {
		margin-top: 1rem;
		font-size: 1.8rem;
		text-align: center;
		color: var(--primary-color);
	}

	&__mode {
		padding: 2rem;
		color: var(--primary-color);
	}

	&__modeText {
		margin-bottom: 0.5rem;
		font-size: 1.4rem;
	}

	&__text {
		margin-bottom: 1rem;
		font-size: 1.2rem;
		color: var(--primary-color);
	}
	&__label {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-weight: 600;
		font-size: 1.4rem;
		color: var(--primary-color);
		cursor: pointer;
	}

	&__input {
		height: 0;
		width: 0;
		cursor: pointer;
	}

	&__checkmark {
		position: absolute;
		left: 2.5rem;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		background-color: var(--primary-background);
	}

	&__input:checked ~ &__checkmark {
		background-color: var(--secondary-color);
	}

	&__options {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		padding: 1rem;
		font-size: 1.6rem;
		color: var(--primary-color);
		cursor: pointer;
	}
}
