@import "../../sass/index.scss";

.modal {
	position: fixed;
	top: 4.1rem;
	right: 7rem;
	width: 18rem;
	border-radius: 20px;
	background: var(--white-background);
	box-shadow: 2px 2px 3px var(--backdrop-color);
	transition: background-color 0.3s;
	z-index: 1000;
	&__content {
		display: flex;
		padding: 1rem;
		gap: 0.3rem;
		align-items: center;
		text-decoration: none;
		color: var(--primary-color);
		border-radius: 20px 20px 0 0;
		&:hover,
		&:focus {
			background-color: var(--primary-background);
		}
	}
	&__name {
		font-size: 1.2rem;
		font-weight: 700;
		color: var(--primary-color);
	}
	&__img {
		width: 3rem;
		border-radius: 50%;
	}
}

.logout {
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: 0 0 20px 20px;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: var(--primary-background);
	}
	&__circle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		background-color: var(--primary-background);
	}

	&__text {
		font-size: 1.4rem;
		color: var(--primary-color);
	}

	&__icon {
		font-size: 1.4rem;
		color: var(--primary-color);
	}
}
