@import "../../sass/index.scss";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.5rem;
	width: 24rem;
	min-height: 40rem;
	text-align: center;
	background-color: var(--white-background);
	border-radius: 0 0 15px 15px;
	box-shadow: 2px 2px 3px var(--backdrop-color);
	z-index: 1000;
}
.logo {
	width: 3rem;
}

.search {
	display: flex;
	align-items: center;
	position: relative;

	&__results {
		width: 100%;
		min-height: 32rem;
		max-height: 60vh;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
	}

	&__resultWrap {
		position: relative;
	}
	&__result {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		width: 100%;
		padding: 1rem;
		text-decoration: none;
		transition: 0.3s background-color;
		&:hover {
			background-color: var(--primary-background);
		}
	}
	&__img {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		object-fit: cover;
	}
	&__text {
		font-size: 1.2rem;
		color: var(--primary-color);
	}

	&__recent {
		overflow-y: scroll;
	}

	&__recentIcon {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		padding: 0.5rem;
		font-size: 1.2rem;
		color: var(--primary-color);
		margin-left: auto;
		transition: 0.3s color;
		cursor: pointer;
		&:hover {
			color: var(--secondary-color);
		}
	}
}

.searchbar {
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 1rem;
	width: 12rem;
	height: 2.5rem;
	border-radius: 100px;
	border: none;
	background-color: var(--backdrop-color);
	cursor: pointer;
	@include media-size(large) {
		width: 16rem;
	}
	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.13);
	}
}
.searchInput {
	width: 9rem;
	background: transparent;
	border: none;
	outline: none;
	padding: 0 0.5rem;
	color: var(--primary-color);
	@include media-size(large) {
		width: 13rem;
	}
}

.search_icon {
	margin-left: 0.5rem;
	font-size: 1.2rem;
}

.heading {
	margin: 1rem;
	font-size: 1.4rem;
	text-align: left;
	color: var(--primary-color);
}
